@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    background-image: url(https://images.pexels.com/photos/1097456/pexels-photo-1097456.jpeg?auto=compress&cs=tinysrgb&w=400);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
form {
    
    padding: 30px;
    color: white;
    width: 40%;
    border: 1px solid;
    border-radius: 5px;
    backdrop-filter: blur(8px);
}
form h3 {
    text-align: center;
    padding: 10px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 2px 1px rgb(226, 62, 62);
}
.form-group label {
    display: block;
}
.form-group input {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 2px solid white;
    color: white;
}
.form-group input::placeholder {
    color: white;
}
.form-group {
    padding: 10px;
}
.form-group p {
    visibility: hidden;
    font-size: 0.7rem;
}
button {
    width: 94%;
    margin: 10px;
    padding: 5px;
    border: none;
    color: white;
    font-weight: 600;
    background-color: rgb(226, 81, 81);
    border-radius: 3px;
}
.form-group.error p {
    color: rgb(207, 14, 14);  
    visibility: visible;
}
.form-group.error input {
    border-color: rgb(207, 14, 14);
}
.form-group.success input {
    border-color: rgb(5, 102, 5);

}

/* Responsive for Tab */
@media screen and (max-width:992px) {
    .container {
        width: 100%;
        height: 50vh;
        align-items: center;
    }
}

/* Responsive for Mobile */
@media screen and (max-width:576px) {
    .container {
        width: 100%;
        height: 80vh;
        align-items: center;
    }
    form {
        width: 80%;
    }
}